*{
    margin: 0px;
    padding: 0px;
}
body{ 
    
    background: url('images/pexels-min-an-683402.jpg') no-repeat center center/cover; 
    background-attachment: fixed;
}

nav{
    border: 2px solid black;
    padding: 10px;
    background-color:#273435c9;
    color:#00f3ff;
    margin: 1px 3px;
    font-size: 25px;
    text-shadow: 2px 2px #003eff;
    border-radius: 10px;
    letter-spacing: 2px;
}
.butten{
    background-color: blue;
    margin: 0px 15px;
    font-size: 17px;
    font-weight: bolder;
    text-shadow: 1px 1px white;
}
.box1{
    /* border: 2px solid red; */
    width: 49%;
    height: 440px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    background-color:#273435c9;
    color: white;
    margin-left: 3px;
    padding-top: 50px;
}
.box2{
    /* border: 2px solid red; */
    width: 48.5%;
    height: auto;
    margin-left:3px;
    background-color:#273435c9;
    border-radius: 10px;
    color: white;
}
main{
    /* border: 2px solid green; */
    margin: 10px 0px;
    padding: 2px;
    display: flex; 
    flex-wrap: wrap;
    /* height: 500px; */

}
form p{
    margin: 18px 0px;
}
footer{
     background-color: #273435c9;
     text-align: center;
     padding: 5px;
     border-radius: 6px;
     color: white;
     font-size: 18px;
     margin: 1px 3px;
     margin-top: -18px;
   
}
.req{
    color: red;
}

